* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-page{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 3%;
    background-color: rgb(92, 92, 219);
    background-image: linear-gradient(to bottom right, rgb(4, 48, 59), rgb(1, 6, 20));
}
  a:link, a:visited{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: auto auto auto;
    background-color: rgb(43, 107, 226);
    background-image: linear-gradient(to bottom, rgb(55, 88, 197), rgb(2, 52, 65));
    box-shadow: 15px 15px 20px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    padding: 14px 45px;
    color: white;
    font-size: 25px;
    margin-top: 25px;
    border: 2px solid black;
    text-decoration: none;
    font-family: Chelsea Market;
}
#gradient-welcome{
    background-color: rgb(89, 0, 255); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom, rgb(4, 205, 219), rgb(60, 3, 87));
    display: flex;
    justify-content: center;
    align-items: center;
    color:  whitesmoke;
    font-size: 30px;
    font-family: Chelsea Market;
    text-align: center;
    width: 1000px;
    height: 200px;
    border: 2px solid black;
    margin-inline: auto;
    margin-top: 20px;
    box-shadow: 15px 15px 20px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
} 
.note-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-top: 50px;
    font-size: 25px;
    width: 600px;
    text-align: center;
    background-color: whitesmoke;
    border: 2px solid black;
    box-shadow: 15px 15px 20px 2px rgba(0, 0, 0, 0.5);
    line-height: 1.3;
    padding-left: 50px;
    padding-right: 10px;
    position: relative;
    overflow: auto;
    font-family: Chelsea Market;
    /* Blue horizontal lines */
    background-image: linear-gradient(#9ad0ec 1px, transparent 1px);
    background-size: 100% 2rem; /* Sets line spacing height */
}

/*This adds the repeating red lines */
.note-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 40px; /* Distance from the left edge */
  height: 100%;
  width: 2px;
  background-color: #ff9494; /* Pale red color */
}
ul{
    margin: 0;
    padding: 0;
}
.note-card-list{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-top: 50px;
    font-size: 25px;
    width: 600px;
    background-color: whitesmoke;
    border: 2px solid black;
    box-shadow: 15px 15px 20px 2px rgba(0, 0, 0, 0.5);
    line-height: 1.3;
    padding-left: 50px;
    padding-right: 10px;
    position: relative;
    overflow: auto;
    font-family: Chelsea Market;
    /* Blue horizontal lines */
    background-image: linear-gradient(#9ad0ec 1px, transparent 1px);
    background-size: 100% 2rem; /* Sets line spacing height */
}
.note-card-list::before {
  content: '';
  position: absolute;
  top: 0;
  left: 40px; /* Distance from the left edge */
  height: 100%;
  width: 2px;
  background-color: #ff9494; /* Pale red color */
}
body {
    background-color: rgb(232, 233, 235);
    background-image: linear-gradient(to bottom right, rgb(7, 84, 104), rgb(1, 6, 20));
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

